main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}
#icon-container{
    background-color: blueviolet;
    opacity: 75%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons{
    display: flex;
    justify-content: space-between;
    padding: 6px;
}

.icon {
    opacity: 50%;
}
.selected {
    opacity: 100%;
}

.mascot {
    position: relative;
    text-align: center;
    padding: 10px 0;
    background-color: aquamarine;
    height: 70px;
    width: 100%;
    opacity: 75%;
    
    &::before{
        content: '):';
        animation: ejemploAnimacion 2s infinite;
    }

    & span{
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes ejemploAnimacion {
    0% {
        content: "nO";
    }
    50% {
        content: "No";
    }
    100% {
        content: "nO";
    }
}

.poop {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 100;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
    justify-content: flex-start;

    & .icon {
        position: relative;
        padding: 0px;
        margin: 0px;
        height: auto;
        width: auto;
        font-size: 0.96rem;
        opacity: 100;
    }
}